# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.eggs/
dist/
build/
develop/
*.egg-info/
.installed.cfg
*.manifest

# Local configuration
*.env
local.py

# History
.git/
.DS_Store

# IPython notebook files
*.ipynb_checkpoints

# Data files
data/

.venv/
.idea/
metastore_db/
data_sink/
spark-warehouse/

*.log
